<form class="search-section" [formGroup]="formControls">
<mat-form-field class="example-full-width">
    <input type="text"
           placeholder="Auto Complete Field"
           aria-label="Number"
           matInput
           [formControl]="autoCompleteField"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>&nbsp;&nbsp;
  <mat-slide-toggle formControlName="slideToggleChecked" (change)="onChange()">Slide me! {{slideToggleCheckedVal}}</mat-slide-toggle>

  <!-- Accessibility -->
  <div class="example-focus-monitor">
  <button #monitored>1. Focus Monitored Element ({{origin}})</button>
  <button #unmonitored>2. Not Monitored</button>
</div>

<!-- <mat-form-field>
  <mat-label>Simulated focus origin</mat-label>
  <mat-select #simulatedOrigin value="mouse">
    <mat-option value="mouse">Mouse</mat-option>
    <mat-option value="keyboard">Keyboard</mat-option>
    <mat-option value="touch">Touch</mat-option>
    <mat-option value="program">Programmatic</mat-option>
  </mat-select>
</mat-form-field> -->

<button (click)="focusMonitor.focusVia(monitored, simulatedOrigin.value)">
  Focus button #1
</button>
<button (click)="focusMonitor.focusVia(unmonitored, simulatedOrigin.value)">
  Focus button #2
</button>

</form>
  
  